@import "../partials/extend.rules";

@mixin show-photo-style(){
    div.photo-div{
        position: relative;
        min-width: 200px;
        height: 75vh;
        @extend %flex-center;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@include show-photo-style();