@import "extend.rules";

@mixin comments-list-style(){
    div.comments-list-container{
        >.row{
            background-color: rgba(102, 153, 255,0.6);
            @extend %comments-box;
            >div{
                margin: 10px 0px;
            }
            .author-name{
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
}

@include comments-list-style();